*{
    padding: 0;
}

body {
    background-color: #0e96d4;
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

button {
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 1px;
    font-size: 2.7rem;
}


#placar {
    background-color: #262626;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    left: 10px;
}

.player {
    display: flex;
    padding: 10px;
    width: 20px;
}

.player * {
    margin: 0px 0px 0px 4px;
}

#indicadorRodada{
    padding: 10px;
}

#tabuleiro{
    margin-top: 30px;
}